{:current-tab 0
 
 :manifest 
{:dependencies 
{}
 :description "Bandlimited oscillators and nonlinear filters."
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "Virtual-Analog"
 :version "0.1"}
 :origin 
{:branch "default"
 :parents ["d9ca285831b6065961e2164fea79be3623700169"]
 :service "bitbucket"
 :slug "kronoslang/virtual-analog"}
 :tabs ("tabs/draft.initial.edn" "tabs/phasor.6bfpogbbccsmarc.edn" "tabs/Poly-BLEP.fepa5oxq64fhr40.edn")}