{:current-tab 2
 
 :manifest 
{:dependencies 
{}
 :description "Bandlimited oscillators and nonlinear filters."
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "Virtual-Analog"
 :version "0.1"}
 :origin 
{:branch "default"
 :parents ["806b49cd8f5ed2b5b3f382c3526a6ea0068e2fca"]
 :service "bitbucket"
 :slug "kronoslang/virtual-analog"}
 :tabs ("tabs/draft.initial.edn" "tabs/phasor.6bfpogbbccsmarc.edn" "tabs/Poly-BLEP.fepa5oxq64fhr40.edn")}