{:identity "initial"
 :patch
{:cables
{["vr3pz9q6plh3j2" 0] [:fixed "gcgpau135qs5uu" 0]
 ["vr3pz9q6plh3j2" 1] [:fixed "z5g6omrswabswqq" 0]
 ["z5g6omrswabswqq" 0] [:fixed "8yrg9pyto6t8b88" 0]}
 :nodes
{"8yrg9pyto6t8b88" 
{:inputs []
 :label "0.1"
 :outputs [""]
 :parsed [:float "0.1"]
 :pos [52 163]}
 "gcgpau135qs5uu" 
{:inputs []
 :label "20 ---o--- 2000"
 :outputs [""]
 :parsed [:slider [:float "20"] [:number-widget :float "4ttxz3fgdxpabae" "1259" ""] "3geelo" :linear 7 0.08459988037129704]
 :pos [11 329]}
 "vr3pz9q6plh3j2" 
{:inputs ["freq" "width"]
 :label "Dual-Saw($freq $width 1)"
 :outputs [""]
 :parsed [:fn "Dual-Saw" [:tuple [:free-var "freq"] [:free-var "width"] [:float "1"]]]
 :pos [268 416]}
 "z5g6omrswabswqq" 
{:inputs ["freq"]
 :label "Gen:Sin($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Sin" [:tuple [:free-var "freq"]]]
 :pos [220 181]}}}}