{:documentation "Discrete Summation Formula ala Moorer\n\nComputes equivalent to sum{k=0:N-1}(a^k * sin(beta + k*theta))\n\nAccording to https://www.musicdsp.org/en/latest/Synthesis/140-dsf-super-set-of-blit.html"
 :draft-argument "Gen:Phasor(0.5) 0.5 0.995 10 #0.25"
 :identifier "DSF"
 :identity "s8dqx59u34bt1i6"
 :patch
{:cables
{["1vj3809pl92qazs" 0] [:fixed "edza7zw08vzg17t" 0]
 ["20da95ouaf4ndjt" 0] [:fixed "5p9kvhderiel6yt" 0]
 ["3htakwa5buiw643" 0] [:fixed "al1ahdob52pqt0n" 0]
 ["3htakwa5buiw643" 1] [:fixed "f6o6f52u0f847jc" 0]
 ["4c4f1i3fyktg2vg" 0] [:fixed "qmxpel91r5zx4jq" 0]
 ["4c4f1i3fyktg2vg" 1] [:fixed "n4dz2x4wyduqtia" 0]
 ["5p9kvhderiel6yt" 0] [:fixed "dohe797fypmrsg6" 0]
 ["5p9kvhderiel6yt" 1] [:fixed "qmxpel91r5zx4jq" 0]
 ["6vhn4od7oal144e" 0] [:fixed "oed7ho21y8c369d" 4]
 ["8568rkj902ky5p4" 0] [:fixed "admzbv5hsb9xrae" 0]
 ["8e9vd9eer9c8ase" 0] [:fixed "ee0icfwdmoac1vv" 0]
 ["admzbv5hsb9xrae" 0] [:fixed "oed7ho21y8c369d" 0]
 ["al1ahdob52pqt0n" 0] [:fixed "qmxpel91r5zx4jq" 0]
 ["al1ahdob52pqt0n" 1] [:fixed "dkv773rknsskkwe" 0]
 ["aysdq0tzu1qy6hu" 0] [:fixed "6vhn4od7oal144e" 0]
 ["bcuot53viy86byc" 0] [:fixed "y1e5nu5yo2oklnj" 0]
 ["bcuot53viy86byc" 1] [:fixed "oed7ho21y8c369d" 2]
 ["bw6rq65pa3nb3e7" 0] [:fixed "6vhn4od7oal144e" 0]
 ["bw6rq65pa3nb3e7" 1] [:fixed "oed7ho21y8c369d" 0]
 ["dkv773rknsskkwe" 0] [:fixed "oed7ho21y8c369d" 3]
 ["dohe797fypmrsg6" 0] [:fixed "qmxpel91r5zx4jq" 0]
 ["dohe797fypmrsg6" 1] [:fixed "naw81j62abjvz19" 0]
 ["edza7zw08vzg17t" 0] [:fixed "m9979s6reekfesn" 0]
 ["edza7zw08vzg17t" 1] [:fixed "oed7ho21y8c369d" 0]
 ["ee0icfwdmoac1vv" 0] [:fixed "orl7ce13mfz44z3" 0]
 ["ee0icfwdmoac1vv" 1] [:fixed "20da95ouaf4ndjt" 0]
 ["f6o6f52u0f847jc" 0] [:fixed "m9979s6reekfesn" 0]
 ["m9979s6reekfesn" 0] [:fixed "6vhn4od7oal144e" 0]
 ["m9979s6reekfesn" 1] [:fixed "xd3wic81232ovcg" 0]
 ["n4dz2x4wyduqtia" 0] [:fixed "bw6rq65pa3nb3e7" 0]
 ["naw81j62abjvz19" 0] [:fixed "4eq03fsgxye90dw" 0]
 ["naw81j62abjvz19" 1] [:fixed "8568rkj902ky5p4" 0]
 ["nbhgp991moih667" 0] [:fixed "al1ahdob52pqt0n" 0]
 ["nbhgp991moih667" 1] [:fixed "qmxpel91r5zx4jq" 0]
 ["nbhgp991moih667" 2] [:fixed "1vj3809pl92qazs" 0]
 ["orl7ce13mfz44z3" 0] [:fixed "xgxn40wvxotlh7v" 0]
 ["orl7ce13mfz44z3" 1] [:fixed "nbhgp991moih667" 0]
 ["qmxpel91r5zx4jq" 0] [:fixed "bcuot53viy86byc" 0]
 ["xd3wic81232ovcg" 0] [:fixed "dkv773rknsskkwe" 0]
 ["xd3wic81232ovcg" 1] [:fixed "oed7ho21y8c369d" 0]
 ["xgxn40wvxotlh7v" 0] [:fixed "zvw998z1c3hduq" 0]
 ["xgxn40wvxotlh7v" 1] [:fixed "4c4f1i3fyktg2vg" 0]
 ["xgxn40wvxotlh7v" 2] [:fixed "3htakwa5buiw643" 0]
 ["zcyikmije3pxng9" 0] [:fixed "8e9vd9eer9c8ase" 0]
 ["zcyikmije3pxng9" 1] [:fixed "oed7ho21y8c369d" 1]
 ["zvw998z1c3hduq" 0] [:fixed "aysdq0tzu1qy6hu" 0]}
 :nodes
{"1vj3809pl92qazs" 
{:inputs ["phase"]
 :label "sin($phase)"
 :outputs [""]
 :parsed [:fn "DSFSin" [:tuple [:free-var "phase"]]]
 :pos [160 -108]}
 "20da95ouaf4ndjt" 
{:color 3
 :inputs ["a"]
 :label "+ 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1"]]
 :pos [165 332]}
 "3htakwa5buiw643" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [157 154]}
 "4c4f1i3fyktg2vg" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [80 154]}
 "4eq03fsgxye90dw" 
{:color 3
 :inputs []
 :label "2"
 :outputs [""]
 :parsed [:float "2"]
 :pos [-187 332]}
 "5p9kvhderiel6yt" 
{:color 3
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [77 332]}
 "6vhn4od7oal144e" 
{:color 2
 :inputs ["beta"]
 :label "$beta"
 :outputs [""]
 :parsed [:free-var "beta"]
 :pos [-453 -249]}
 "8568rkj902ky5p4" 
{:color 3
 :inputs ["phase"]
 :label "sin($phase)"
 :outputs [""]
 :parsed [:fn "DSFSin" [:tuple [:free-var "phase"]]]
 :pos [-204 224]}
 "8e9vd9eer9c8ase" 
{:inputs ["a"]
 :label "- 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "1"]]
 :pos [447 252]}
 "admzbv5hsb9xrae" 
{:cable-midpoints 
{}
 :color 3
 :inputs ["theta"]
 :label "$theta + 0.25"
 :outputs [""]
 :parsed [:infix [:free-var "theta"] "+" [:float "0.25"]]
 :pos [-332 224]}
 "al1ahdob52pqt0n" 
{:color 4
 :inputs ["a" "b"]
 :label "Math:Pow($a $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [-321 99]}
 "aysdq0tzu1qy6hu" 
{:color 2
 :inputs ["a"]
 :label "$a * #2 * Math:Pi"
 :outputs [""]
 :parsed [:infix [:infix [:free-var "a"] "*" [:invariant "2"]] "*" "Math:Pi"]
 :pos [-356 -113]}
 "bcuot53viy86byc" 
{:color 4
 :inputs ["a" "b"]
 :label "Min($a $b)"
 :outputs [""]
 :parsed [:fn "Min" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [-509 148]}
 "bw6rq65pa3nb3e7" 
{:cable-midpoints 
{}
 :color 2
 :inputs ["beta" "theta"]
 :label "$beta - $theta"
 :outputs [""]
 :parsed [:infix [:free-var "beta"] "-" [:free-var "theta"]]
 :pos [-85 -55]}
 "dkv773rknsskkwe" 
{:color 4
 :inputs ["a"]
 :label "+ 2"
 :name "N"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "2"]]
 :pos [-493 22]}
 "dohe797fypmrsg6" 
{:color 3
 :flip-y true
 :inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [-11 290]}
 "edza7zw08vzg17t" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [63 -144]}
 "ee0icfwdmoac1vv" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [348 252]}
 "f6o6f52u0f847jc" 
{:inputs ["phase"]
 :label "sin($phase)"
 :outputs [""]
 :parsed [:fn "DSFSin" [:tuple [:free-var "phase"]]]
 :pos [91 -42]}
 "m9979s6reekfesn" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [-3 -88]}
 "n4dz2x4wyduqtia" 
{:inputs ["phase"]
 :label "sin($phase)"
 :outputs [""]
 :parsed [:fn "DSFSin" [:tuple [:free-var "phase"]]]
 :pos [24 23]}
 "naw81j62abjvz19" 
{:color 3
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-99 332]}
 "nbhgp991moih667" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [246 154]}
 "oed7ho21y8c369d" 
{:inputs []
 :label "(phase rate rolloff harmonics phase-shift) = arg"
 :outputs ["phase" "rate" "rolloff" "harmonics" "phase-shift"]
 :parsed "arg"
 :pos [-645 -381]}
 "orl7ce13mfz44z3" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [249 252]}
 "qmxpel91r5zx4jq" 
{:color 4
 :inputs ["a"]
 :label "$a"
 :name "rolloff"
 :outputs [""]
 :parsed [:free-var "a"]
 :pos [-403 153]}
 "xd3wic81232ovcg" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-47 -159]}
 "xgxn40wvxotlh7v" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [150 252]}
 "y1e5nu5yo2oklnj" 
{:inputs []
 :label "0.99999"
 :outputs [""]
 :parsed [:float "0.99999"]
 :pos [-597 181]}
 "zcyikmije3pxng9" 
{:cable-midpoints 
{}
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [546 252]}
 "zvw998z1c3hduq" 
{:color 2
 :inputs ["a"]
 :label "Math:Sin($a)"
 :outputs [""]
 :parsed [:fn "Math:Sin" [:tuple [:free-var "a"]]]
 :pos [-197 -4]}}
 :scale 0.7350918906249997
 :scroll [0 0]}}