{:draft-argument "Gen:Saw(440) 0.5 0.5"
 :identifier "lpf6"
 :identity "6289p9xp76q2z6"
 :patch
{:cables
{["cnzz0t1ja3gsngv" 0] [:fixed "7iv2bprm6qo8953" 1]
 ["cnzz0t1ja3gsngv" 1] [:fixed "w70hc814kxs956" 0]
 ["e34h556bsohm27i" 0] [:fixed "o2x33yaur7kk0e9" 0]
 ["grc4zy4mc53gsmz" 0] [:fixed "o2x33yaur7kk0e9" 0]
 ["o2x33yaur7kk0e9" 0] [:fixed "cnzz0t1ja3gsngv" 0]
 ["o2x33yaur7kk0e9" 1] [:fixed "zj277e8hvupkiu2" 0]
 ["u2lfwq28fd20ty0" 0] [:fixed "7iv2bprm6qo8953" 0]
 ["w70hc814kxs956" 0] [:fixed "u2lfwq28fd20ty0" 0]
 ["w70hc814kxs956" 1] [:fixed "7iv2bprm6qo8953" 0]
 ["zj277e8hvupkiu2" 0] [:fixed "7iv2bprm6qo8953" 2]
 ["zj277e8hvupkiu2" 1] [:fixed "grc4zy4mc53gsmz" 0]}
 :nodes
{"7iv2bprm6qo8953" 
{:inputs []
 :label "(sig p f) = arg"
 :outputs ["sig" "p" "f"]
 :parsed "arg"
 :pos [81 302]}
 "cnzz0t1ja3gsngv" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [521 306]}
 "e34h556bsohm27i" 
{:inputs ["out"]
 :label "$out"
 :outputs [""]
 :parsed [:free-var "out"]
 :pos [878 469]
 :selected "e34h556bsohm27i"}
 "grc4zy4mc53gsmz" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [630 465]}
 "o2x33yaur7kk0e9" 
{:inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [745 328]}
 "u2lfwq28fd20ty0" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [319 255]}
 "w70hc814kxs956" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [441 255]}
 "zj277e8hvupkiu2" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [578 374]}}}}