{:draft-argument "Gen:Saw(440) 0.3 -0.5"
 :identifier "lpf6"
 :identity "6289p9xp76q2z6"
 :patch
{:cables
{["1ynqky8h54jki3b" 0] [:fixed "7iv2bprm6qo8953" 0]
 ["8ig2z8fmp9vjntp" 0] [:fixed "c76hjiklaj3piou" 0]
 ["c76hjiklaj3piou" 0] [:fixed "mitlq6gsicfo2zh" 0]
 ["c76hjiklaj3piou" 1] [:fixed "d18p95a0v7opw65" 0]
 ["d18p95a0v7opw65" 0] [:fixed "8ig2z8fmp9vjntp" 0]
 ["d18p95a0v7opw65" 1] [:fixed "7iv2bprm6qo8953" 2]
 ["d6zv55qx55io9cy" 0] [:fixed "1ynqky8h54jki3b" 0]
 ["d6zv55qx55io9cy" 1] [:fixed "7iv2bprm6qo8953" 1]
 ["dboaqpo1nbv1yp7" 0] [:fixed "c76hjiklaj3piou" 0]
 ["mitlq6gsicfo2zh" 0] [:fixed "d6zv55qx55io9cy" 0]
 ["mitlq6gsicfo2zh" 1] [:fixed "7iv2bprm6qo8953" 0]}
 :nodes
{"1ynqky8h54jki3b" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [230 416]}
 "7iv2bprm6qo8953" 
{:inputs []
 :label "(sig z p) = arg"
 :outputs ["sig" "z" "p"]
 :parsed "arg"
 :pos [81 302]}
 "8ig2z8fmp9vjntp" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [549 331]}
 "c76hjiklaj3piou" 
{:inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [548 551]}
 "d18p95a0v7opw65" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [365 489]}
 "d6zv55qx55io9cy" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [341 371]}
 "dboaqpo1nbv1yp7" 
{:inputs ["out"]
 :label "$out"
 :outputs [""]
 :parsed [:free-var "out"]
 :pos [836 606]
 :selected "dboaqpo1nbv1yp7"}
 "mitlq6gsicfo2zh" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [411 322]}}}}