{:draft-argument "Gen:Saw(80) Gen:Phasor(0.1) * 5000 1"
 :identifier "Moog-LPF"
 :identity "300dveum957ocsc"
 :patch
{:cables
{["1r968qv2ggq9rkx" 0] [:fixed "erbxwcj26xlolq6" 0]
 ["27tprolhji5jd69" 0] [:fixed "4v5uga9jw3ga194" 0]
 ["2v7x8n4ug9ridmh" 0] [:fixed "axh9k61kzy7x0tr" 0]
 ["2v7x8n4ug9ridmh" 1] [:fixed "6abv5jw7waf831v" 0]
 ["4v5uga9jw3ga194" 0] [:fixed "lya3fy55bb294sj" 1]
 ["4v5uga9jw3ga194" 1] [:fixed "aoywrtwzrb4bn2b" 0]
 ["4v5uga9jw3ga194" 2] [:fixed "1r968qv2ggq9rkx" 0]
 ["6abv5jw7waf831v" 0] [:fixed "lya3fy55bb294sj" 2]
 ["6abv5jw7waf831v" 1] [:fixed "27tprolhji5jd69" 0]
 ["6huj40f1z1vvdjy" 0] [:fixed "bxp197t3v0gpoy9" 0]
 ["a4cbjkbqobmlncz" 0] [:fixed "bu8r276nwyk6z84" 0]
 ["a4cbjkbqobmlncz" 1] [:fixed "bu8r276nwyk6z84" 0]
 ["a4cbjkbqobmlncz" 2] [:fixed "5hs1ijqc97ru3g9" 0]
 ["axh9k61kzy7x0tr" 0] [:fixed "bxp197t3v0gpoy9" 0]
 ["bu8r276nwyk6z84" 0] [:fixed "4v5uga9jw3ga194" 0]
 ["bu8r276nwyk6z84" 1] [:fixed "hu84w1g03wa6jw" 0]
 ["bxp197t3v0gpoy9" 0] [:fixed "k2kwzz5q4bh4bgs" 0]
 ["bxp197t3v0gpoy9" 1] [:fixed "iqvgfrkhf3axite" 0]
 ["erbxwcj26xlolq6" 0] [:fixed "fx39txpejhurs0u" 0]
 ["hu84w1g03wa6jw" 0] [:fixed "4v5uga9jw3ga194" 0]
 ["hu84w1g03wa6jw" 1] [:fixed "27tprolhji5jd69" 0]
 ["hu84w1g03wa6jw" 2] [:fixed "hx1hptparqe2z56" 0]
 ["iqvgfrkhf3axite" 0] [:fixed "w4mhv29rbyt0hm" 0]
 ["k2kwzz5q4bh4bgs" 1] [:fixed "bu8r276nwyk6z84" 0]
 ["k2kwzz5q4bh4bgs" 2] [:fixed "a4cbjkbqobmlncz" 0]
 ["w4mhv29rbyt0hm" 0] [:fixed "lya3fy55bb294sj" 0]
 ["w4mhv29rbyt0hm" 1] [:fixed "2v7x8n4ug9ridmh" 0]}
 :nodes
{"1r968qv2ggq9rkx" 
{:inputs ["sig"]
 :label "Interval-of($sig)"
 :outputs [""]
 :parsed [:fn "Interval-of" [:tuple [:free-var "sig"]]]
 :pos [299 155]}
 "27tprolhji5jd69" 
{:inputs ["b"]
 :label "#1 -"
 :outputs [""]
 :parsed [:infix [:invariant "1"] "-" [:free-var "b"]]
 :pos [534 204]}
 "2v7x8n4ug9ridmh" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [766 835]}
 "4v5uga9jw3ga194" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [440 286]}
 "5hs1ijqc97ru3g9" 
{:inputs []
 :label "#-1"
 :outputs [""]
 :parsed [:invariant "-1"]
 :pos [700 207]}
 "6abv5jw7waf831v" 
{:inputs ["res" "q"]
 :label "$res * (#1 + #0.5 * $q * (#1 - $q + #5.6 * $q * $q))"
 :outputs [""]
 :parsed [:infix [:free-var "res"] "*" [:tuple [:infix [:invariant "1"] "+" [:infix [:infix [:invariant "0.5"] "*" [:free-var "q"]] "*" [:tuple [:infix [:infix [:invariant "1"] "-" [:free-var "q"]] "+" [:infix [:infix [:invariant "5.6"] "*" [:free-var "q"]] "*" [:free-var "q"]]]]]]]]
 :pos [209 515]}
 "6huj40f1z1vvdjy" 
{:inputs ["sig"]
 :label "Saturation($sig)"
 :outputs [""]
 :parsed [:fn "Saturation" [:tuple [:free-var "sig"]]]
 :pos [1084 965]}
 "a4cbjkbqobmlncz" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [818 415]}
 "aoywrtwzrb4bn2b" 
{:inputs []
 :label "#2"
 :outputs [""]
 :parsed [:invariant "2"]
 :pos [270 246]}
 "axh9k61kzy7x0tr" 
{:inputs ["sig~"]
 :label "z-1($sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "sig~"]]]
 :pos [757 943]}
 "bu8r276nwyk6z84" 
{:inputs ["a" "b" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [694 358]}
 "bxp197t3v0gpoy9" 
{:inputs ["func" "x"]
 :label "Algorithm:Iterate(#4 $func $x)"
 :outputs [""]
 :parsed [:fn "Algorithm:Iterate" [:tuple [:invariant "4"] [:free-var "func"] [:free-var "x"]]]
 :pos [954 691]}
 "erbxwcj26xlolq6" 
{:inputs ["sig"]
 :label "Gen:Signal($sig)"
 :outputs [""]
 :parsed [:fn "Gen:Signal" [:tuple [:free-var "sig"]]]
 :pos [174 155]}
 "fx39txpejhurs0u" 
{:inputs []
 :label "0"
 :outputs [""]
 :parsed [:float "0"]
 :pos [88 155]}
 "hu84w1g03wa6jw" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [621 270]}
 "hx1hptparqe2z56" 
{:inputs []
 :label "#0.8"
 :outputs [""]
 :parsed [:invariant "0.8"]
 :pos [535 145]}
 "iqvgfrkhf3axite" 
{:inputs ["sig"]
 :label "Saturation($sig)"
 :outputs [""]
 :parsed [:fn "Saturation" [:tuple [:free-var "sig"]]]
 :pos [569 618]}
 "k2kwzz5q4bh4bgs" 
{:inputs ["sig" "p" "f"]
 :label "lpf6($sig $p $f)"
 :outputs [""]
 :parsed [:fn "lpf6" [:tuple [:free-var "sig"] [:free-var "p"] [:free-var "f"]]]
 :pos [831 516]}
 "lya3fy55bb294sj" 
{:inputs []
 :label "(sig cutoff resonance) = arg"
 :outputs ["sig" "cutoff" "resonance"]
 :parsed "arg"
 :pos [84 350]}
 "w4mhv29rbyt0hm" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [507 743]}}}}