{:documentation "Bandlimited Sawtooth oscillator based on a 2nd degree polynomial bandlimited step."
 :draft-argument "22000 * Gen:Phasor(0.1)"
 :identifier "Poly-BLEP"
 :identity "fepa5oxq64fhr40"
 :patch
{:cables
{["2ixhbn599k56mn7" 0] [:fixed "y5wywjmrvvcf8ga" 0]
 ["2ixhbn599k56mn7" 1] [:fixed "o3u0kjdgxlqx2ue" 1]
 ["34f4st3vf5vqdp1" 0] [:fixed "67gzklu5eeaa5w" 0]
 ["34f4st3vf5vqdp1" 1] [:fixed "67gzklu5eeaa5w" 0]
 ["5wscwn905xh99ki" 0] [:fixed "a4rlm23qxqfgng6" 0]
 ["5wscwn905xh99ki" 1] [:fixed "67gzklu5eeaa5w" 0]
 ["5wscwn905xh99ki" 2] [:fixed "67gzklu5eeaa5w" 0]
 ["67gzklu5eeaa5w" 0] [:fixed "2ixhbn599k56mn7" 0]
 ["a4rlm23qxqfgng6" 0] [:fixed "dhc5rhldd3je1t" 0]
 ["a4rlm23qxqfgng6" 1] [:fixed "yanol2vfruwmpwm" 0]
 ["dhc5rhldd3je1t" 0] [:fixed "y5wywjmrvvcf8ga" 0]
 ["eljp3hu7j4528ht" 0] [:fixed "y5wywjmrvvcf8ga" 0]
 ["tt4wmmar0ien1w6" 0] [:fixed "uk7qfxharohwf1l" 0]
 ["tt4wmmar0ien1w6" 1] [:fixed "l450041zb4ergf6" 0]
 ["tt4wmmar0ien1w6" 2] [:fixed "5wscwn905xh99ki" 0]
 ["uk7qfxharohwf1l" 0] [:fixed "eljp3hu7j4528ht" 0]
 ["y5wywjmrvvcf8ga" 0] [:fixed "o3u0kjdgxlqx2ue" 0]
 ["yanol2vfruwmpwm" 0] [:fixed "34f4st3vf5vqdp1" 0]}
 :nodes
{"0kpagf7bsv0grz4" 
{:inputs []
 :label "; Combine for a bandlimited waveform"
 :outputs []
 :parsed [:comment "Combine for a bandlimited waveform"]
 :pos [920 772]}
 "2ixhbn599k56mn7" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [399 246]}
 "34f4st3vf5vqdp1" 
{:color 2
 :ephemeral-inputs #{}
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [752 339]}
 "3fc7455vgm7k3di" 
{:inputs []
 :label "; Compute a polynomial ripple at waveform discontinuity points"
 :outputs []
 :parsed [:comment "Compute a polynomial ripple at waveform discontinuity points"]
 :pos [407 406]}
 "5wscwn905xh99ki" 
{:color 2
 :ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "+"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [1008 526]}
 "67gzklu5eeaa5w" 
{:color 2
 :inputs ["sig"]
 :label "clamp($sig -1 1)"
 :outputs [""]
 :parsed [:fn "clamp" [:tuple [:free-var "sig"] [:float "-1"] [:float "1"]]]
 :pos [470 245]}
 "a4rlm23qxqfgng6" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [932 526]}
 "dhc5rhldd3je1t" 
{:color 2
 :inputs ["a"]
 :label "sign($a)"
 :outputs [""]
 :parsed [:fn "sign" [:tuple [:free-var "a"]]]
 :pos [592 526]}
 "eljp3hu7j4528ht" 
{:inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [413 619]}
 "l450041zb4ergf6" 
{:inputs []
 :label "1"
 :outputs [""]
 :parsed [:float "1"]
 :pos [905 604]}
 "o3u0kjdgxlqx2ue" 
{:inputs []
 :label "(phase rate) = arg"
 :outputs ["phase" "rate"]
 :parsed "arg"
 :pos [149 164]}
 "tt4wmmar0ien1w6" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [1045 700]}
 "uk7qfxharohwf1l" 
{:inputs ["a"]
 :label "* 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "2"]]
 :pos [647 700]}
 "y5wywjmrvvcf8ga" 
{:inputs ["a"]
 :label "- 0.5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "0.5"]]
 :pos [244 526]}
 "yanol2vfruwmpwm" 
{:color 2
 :inputs ["b"]
 :label "-1 -"
 :outputs [""]
 :parsed [:infix [:float "-1"] "-" [:free-var "b"]]
 :pos [843 443]}}}}