{:documentation "Soft-saturates 'sig'nal to the range of [-1,1]"
 :draft-argument "5"
 :identifier "Saturation"
 :identity "eudndfav1n2ap6m"
 :patch
{:cables
{["22q5krcen0zhm4w" 0] [:fixed "spf5haqeked7cte" 0]
 ["aee7ujoo8cglo8t" 0] [:fixed "o8e540en6dj4a56" 0]
 ["aee7ujoo8cglo8t" 1] [:fixed "dd8gqox79sj8bqf" 0]
 ["dd8gqox79sj8bqf" 0] [:fixed "kdk6o4d7wk0mrlw" 0]
 ["eodombotu8tbc6s" 0] [:fixed "dd8gqox79sj8bqf" 0]
 ["eodombotu8tbc6s" 1] [:fixed "dd8gqox79sj8bqf" 0]
 ["o8e540en6dj4a56" 0] [:fixed "eodombotu8tbc6s" 0]
 ["spf5haqeked7cte" 0] [:fixed "eodombotu8tbc6s" 0]
 ["ueo6manrd8p077l" 0] [:fixed "aee7ujoo8cglo8t" 0]
 ["ueo6manrd8p077l" 1] [:fixed "22q5krcen0zhm4w" 0]}
 :nodes
{"22q5krcen0zhm4w" 
{:inputs ["a"]
 :label "+ #27"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:invariant "27"]]
 :pos [551 494]}
 "aee7ujoo8cglo8t" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [552 348]}
 "dd8gqox79sj8bqf" 
{:inputs ["sig"]
 :label "clamp($sig #-3 #3)"
 :outputs [""]
 :parsed [:fn "clamp" [:tuple [:free-var "sig"] [:invariant "-3"] [:invariant "3"]]]
 :pos [79 213]}
 "eodombotu8tbc6s" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [350 348]}
 "kdk6o4d7wk0mrlw" 
{:inputs []
 :label "sig = arg"
 :outputs ["sig"]
 :parsed "arg"
 :pos [13 62]}
 "o8e540en6dj4a56" 
{:inputs ["a"]
 :label "+ #27"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:invariant "27"]]
 :pos [426 348]}
 "spf5haqeked7cte" 
{:inputs ["a"]
 :label "* #9"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:invariant "9"]]
 :pos [438 494]}
 "ueo6manrd8p077l" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [729 391]}
 "w0p7413ut19u8k5" 
{:inputs []
 :label ";tanh approximation via dividing two polynomials"
 :outputs []
 :parsed [:comment "tanh approximation via dividing two polynomials"]
 :pos [184 111]}}}}