{:documentation "Soft-saturates 'sig'nal to the range of [-1,1]"
 :draft-argument "5"
 :identifier "Saturation"
 :identity "eudndfav1n2ap6m"
 :patch
{:cables
{["1ddu675f0ov2mgm" 0] [:fixed "1tu9qyo8rah2ohf" 0]
 ["1tu9qyo8rah2ohf" 0] [:fixed "kdk6o4d7wk0mrlw" 0]
 ["9z13nlg0bjvtqie" 0] [:fixed "1ddu675f0ov2mgm" 0]
 ["9z13nlg0bjvtqie" 1] [:fixed "1tu9qyo8rah2ohf" 0]
 ["ajjukyd3xch3og6" 0] [:fixed "b2brlkpj8ng3343" 0]
 ["ajjukyd3xch3og6" 1] [:fixed "1tu9qyo8rah2ohf" 0]
 ["ajjukyd3xch3og6" 2] [:fixed "1tu9qyo8rah2ohf" 0]
 ["b2brlkpj8ng3343" 0] [:fixed "9z13nlg0bjvtqie" 0]
 ["hzp7hs97za4q5a1" 0] [:fixed "wq8ape7is7yx21n" 0]
 ["hzp7hs97za4q5a1" 1] [:fixed "kdk6o4d7wk0mrlw" 0]
 ["wq8ape7is7yx21n" 0] [:fixed "ajjukyd3xch3og6" 0]
 ["wq8ape7is7yx21n" 1] [:fixed "xyfz3uoimh5o3gv" 0]
 ["xyfz3uoimh5o3gv" 0] [:fixed "ajjukyd3xch3og6" 0]}
 :nodes
{"1ddu675f0ov2mgm" 
{:inputs ["a"]
 :label "+ #3"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:invariant "3"]]
 :pos [173 340]}
 "1tu9qyo8rah2ohf" 
{:inputs ["a"]
 :label "Abs($a)"
 :outputs [""]
 :parsed [:fn "Abs" [:tuple [:free-var "a"]]]
 :pos [60 218]}
 "9z13nlg0bjvtqie" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [286 340]}
 "ajjukyd3xch3og6" 
{:ephemeral-inputs #{"more1"}
 :inputs ["a" "b" "more1" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more1"] [:free-var "more..."]]
 :pos [475 340]}
 "b2brlkpj8ng3343" 
{:inputs ["a"]
 :label "+ #6"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:invariant "6"]]
 :pos [362 340]}
 "hzp7hs97za4q5a1" 
{:inputs ["value" "sign"]
 :label "Math:Copy-Sign($value $sign)"
 :outputs [""]
 :parsed [:fn "Math:Copy-Sign" [:tuple [:free-var "value"] [:free-var "sign"]]]
 :pos [728 388]}
 "kdk6o4d7wk0mrlw" 
{:inputs []
 :label "sig = arg"
 :outputs ["sig"]
 :parsed "arg"
 :pos [13 62]}
 "wq8ape7is7yx21n" 
{
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [644 390]}
 "xyfz3uoimh5o3gv" 
{:inputs ["a"]
 :label "+ #12"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:invariant "12"]]
 :pos [550 281]}}}}