{:draft-argument "-1"
 :identifier "sign"
 :identity "3c2brdc2cqkyb"
 :patch
{:cables
{["byzrvnw8k9oz3un" 0] [:fixed "hsoqrykco9o77ln" 0]
 ["byzrvnw8k9oz3un" 1] [:fixed "ha3zqc0n8s6gklr" 0]
 ["byzrvnw8k9oz3un" 2] [:fixed "ecabc5fxm1wu4yl" 0]
 ["hsoqrykco9o77ln" 0] [:fixed "8eb5umbmd1b4b20" 0]}
 :nodes
{"8eb5umbmd1b4b20" 
{:inputs []
 :label "arg"
 :outputs [""]
 :parsed "arg"
 :pos [110 274]}
 "byzrvnw8k9oz3un" 
{:inputs ["cond" "t" "f"]
 :label "Ternary-Select($cond $t $f)"
 :outputs [""]
 :parsed [:fn "Ternary-Select" [:tuple [:free-var "cond"] [:free-var "t"] [:free-var "f"]]]
 :pos [334 274]}
 "ecabc5fxm1wu4yl" 
{:inputs []
 :label "1"
 :outputs [""]
 :parsed [:float "1"]
 :pos [421 155]}
 "ha3zqc0n8s6gklr" 
{:inputs []
 :label "-1"
 :outputs [""]
 :parsed [:float "-1"]
 :pos [306 160]}
 "hsoqrykco9o77ln" 
{:inputs ["a"]
 :label "< #0"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "<" [:invariant "0"]]
 :pos [222 274]}}}}